@CHARSET "UTF-8";

body{
	margin: 0 auto;
}

/*top.jsp*/
#top_function{
	text-align: right;
	background-color: #D6D6D6;
}

A:link{
	color:#FFFFFF;
	text-decoration:none
}

A:visited{
	color:#FFFFFF;
	text-decoration:none
}

img{
	vertical-align: bottom;
}

#titleImg{
	height: 150px;
	width: 225px;
	display: block;
	margin-left: auto; 
	margin-right: auto;
}

#top_search{
	height: 30px;
	width: 1000px;
	text-align: center;
	background-color: #3F48CC;
}

#top_option{
	height: 30px;
	text-align: center;
	background-color: #E6E6E6;
}

#top_form{
	margin: 0 auto;
}

/*bottom.html*/
#bottom_mainTab{
	width: 1000px;
}

#bottom_Img{
	padding-left: 10px;
	padding-right: 10px;
	height: 100px;
	width: 150px;
}

#bottom_link{
	width: 830px;
	background-color: #3F48CC;
}

#bottom_info{
	width: 830px;
	background-color: #E6E6E6;
}

/*Index.jsp*/
#index_mainTab{
	width: 1000px;
	margin: 0 auto;
}

.index_subTab{
	padding: 20px 0px 20px 0px;
	margin: 0 auto;
}

.thumbnail{
	height: 170px;
	width: 230px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.index_link{
	text-align: center;
	width: 320px;
}

#index_pensionName:link{
	color:#000000;
	text-decoration:none
}

/*S_Location.jsp*/
#S_LocMainFrame{
	margin: 0 auto;
	width: 1000px;
}

#S_LocMenu{
	width: 150px;
	float: left;
}

#locationChoice{
	padding: 30px 0px 0px 30px;
}

#S_LocmainTab{
	width: 850px;
	float: right;
}

.S_Locthumbnail{
	height: 170px;
	width: 230px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.S_Locindex_link{
	text-align: center;
	width: 270px;
}

.S_LocImg{
	height: 25px;
	width: 25px;
}

form>a:link{
	color:#000000;
	text-decoration:none
}

form>a:visited{
	color:#000000;
	text-decoration:none
}