@CHARSET "UTF-8";

body{
	margin: 0 auto;
}

/*top.jsp*/
td{
	padding: 0;
	height: 30px;
	width: 1000px;
}

A:link{
	color:#FFFFFF;
	text-decoration:none
}

A:visited{
	color:#FFFFFF;
	text-decoration:none
}
	
A:active{
	color:#FFFFFF;
	text-decoration:none
}

A:hover{
	color:#FFFFFF;
	text-decoration:none
}

#funcs{
	text-align: right;
	background-color: #D6D6D6;
}

#searchs{
	text-align: center;
	background-color: #3F48CC;
}

#options{
	text-align: center;
	background-color: #E6E6E6;
}

img{
	vertical-align: bottom;
}

#titleImg{
	height: 150px;
	width: 225px;
	display: block;
	margin-left: auto; 
	margin-right: auto;
}


/*bottom.html*/
#bottom{
	width: 170px;
}
#btmtable{
	width: 1000px;
}

#bottomImg{
	padding-left: 10px;
	padding-right: 10px;
	height: 100px;
	width: 150px;
}

#links{
	width: 830px;
	background-color: #3F48CC;
}

#infos{
	width: 830px;
	background-color: #E6E6E6;
}